.nav-btn {
  min-width: 100%;
  cursor: pointer;
  padding: 	0.7em;
  border: none;
  border-radius: 1px;
  background-color: #22223B;
  color: #fefefe;
}

.nav-btn:hover {
  background-color: #4A4E69;
  color: #fefefe;
}

.signup-btn {
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: 700;
  min-width: 100%;
  cursor: pointer;
  padding: 	1em;
  border: none;
  border-radius: 1px;
  background-color: #22223B;
  color: #fefefe;
}

.login-btn {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  font-weight: 700;
  min-width: 100%;
  cursor: pointer;
  padding: 	1em;
  border: none;
  border-radius: 1px;
  background-color: #22223B;
  color: #fefefe;
}

.signup-login-btn {
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  padding: 	0.5em 1em;
  margin-top: 0.3rem;
  background-color: white;
  border: 1px solid black;
}
